# Primary (writes + strongly consistent reads)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Read replica
POSTGRES_REPLICA_1_HOST=localhost
POSTGRES_REPLICA_1_PORT=5433
POSTGRES_REPLICA_2_HOST=localhost
POSTGRES_REPLICA_2_PORT=5434

POSTGRES_REPLICATION=true

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nest_clar
